<!DOCTYPE html>
<html>
<head data-suburl="{{AppSubUrl}}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="author" content="Gogs - Go Git Service" />
	<meta name="description" content="Gogs(Go Git Service) a painless self-hosted Git Service written in Go" />
	<meta name="keywords" content="go, git, self-hosted, gogs">
	<meta name="referrer" content="no-referrer" />
	<meta name="_csrf" content="{{.CsrfToken}}" />
	<meta name="_suburl" content="{{AppSubUrl}}" />
	{{if .GoGetImport}}
	<meta name="go-import" content="{{.GoGetImport}} git {{.CloneLink.HTTPS}}">
	{{end}}

	<link rel="shortcut icon" href="{{AppSubUrl}}/img/favicon.png" />

	<script src="{{AppSubUrl}}/js/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" href="{{AppSubUrl}}/css/font-awesome-4.4.0.min.css">

	<!-- Stylesheet -->
	<link rel="stylesheet" href="{{AppSubUrl}}/css/semantic-2.1.3.min.css">
	<link rel="stylesheet" href="{{AppSubUrl}}/css/gogs.css?v={{AppVer}}">

	<!-- JavaScript -->
	<script src="{{AppSubUrl}}/js/semantic-2.1.3.min.js"></script>
	<script src="{{AppSubUrl}}/js/gogs.js?v={{AppVer}}"></script>
	<script>
		;(function () {
			    

			function getOpenUrl (page) {
			    return location.origin + location.pathname + 
			        "?type=all&state=open&labels=0&milestone=0&assignee=0&page=" + page;
			}

			function getListHtml (page) {
			    return jQuery.get(getOpenUrl(page)).then(function(response) {  
			        return response;  
			    });  
			}

			function parseHtml (page, title) {
			    return getListHtml(page).then(function (text) {
			        return $(jQuery.parseHTML(text)).find('.issue.list .item a.title:contains("' + title + '")').parent()
			    })
			}

			function searchTitle (title) {
			    initWrap();
			    var len = getIssueCount();
			    console.log("搜索共", len, "页")
			    var arr = []
			    var ok = 0
			    for (var i = 1; i <= len; i++) {
			        arr.push(parseHtml(i, title).then(function ($dom) {
			            wrapul.append($dom.clone())
			            updateProgress(++ok, len)
			        }))
			    };
			    Promise.all(arr).then(function () {
			        endSearch();
			    })
			}
			function getIssueCount () {
			    var open = parseInt($('.button:contains("开启中")').text().trim().split(' ')[0])
			    var close = parseInt($('.button:contains("已关闭")').text().trim().split(' ')[0])
			    var num = open + close;
			    if (isNaN(num)) {
			        return 100;
			    };
			    return Math.ceil(num / 10)
			}

			var wrap = null;
			var wrapul = null;
			var wrapspan = null;
			function initWrap () {
			    if (!wrap) {
			        wrap = $('<div><ul class="issue list"></ul><span><span></div>')
			                  .appendTo('body');
			        wrap.css("position", "absolute")
			            .css("background", "white")
			            .css("border", "1px solid gray")
			            .css("width", "400px")
			            .css("height", "400px")
			            .css("left", "50%")
			            .css("top", "50%")
			            .css("transform", "translate(-50%, -50%")
			        wrap.find("button").on('click', closeWrap)
			        wrapul = wrap.find("ul");
			        wrapul.css("height", "77%");
			        wrapul.css("padding", "15px");
			        wrapul.css("overflow", "auto")
			        wrapspan = wrap.find("span");
			        wrap.before($('<div style="position:absolute;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,0.5)"></div>')
			            .click(closeWrap))
			    };
			    wrapspan.css({"display": "block", "text-align": "center", "line-height": "28px"}).html("查询中").show();
			    wrap.fadeIn(500).prev().fadeIn(500);
			}
			function closeWrap () {
			    wrap && wrap.fadeOut(500).prev().fadeOut(500);
			}
			function endSearch () {
			    wrapspan.html("查询完毕, " + wrapul.children().length + "条结果")
			}
			function updateProgress (a, b) {
			    wrapspan.html("查询中" + a + "/" + b + "页")
			}

			$(function () {
			    if (location.href.indexOf('/issues') >= 0 && getIssueCount() > 0) {
			        $('a.item:contains("探索")').after($('<a class="item" >搜索</a>')
			                .click(function () {
			                    var text = prompt('请输入标题');
			                    text && searchTitle(text)
			                }));
			    };
			})

			})();
	</script>
	<title>{{if .Title}}{{.Title}} - {{end}}{{AppName}}</title>
</head>
<body>
	<div class="full height">
		<noscript>Please enable JavaScript in your browser!</noscript>

		{{if not .PageIsInstall}}
		<div class="following bar light">
			<div class="ui container">
				<div class="ui grid">
					<div class="column">
						<div class="ui top secondary menu">
							<a class="item brand" href="{{AppSubUrl}}/">
								<img class="ui mini image" src="{{AppSubUrl}}/img/favicon.png">
							</a>

							{{if .IsSigned}}
							<a class="item{{if .PageIsDashboard}} active{{end}}" href="{{AppSubUrl}}/">{{.i18n.Tr "dashboard"}}</a>
							<a class="item{{if .PageIsIssues}} active{{end}}" href="{{AppSubUrl}}/issues">{{.i18n.Tr "issues"}}</a>
							<a class="item{{if .PageIsPulls}} active{{end}}" href="{{AppSubUrl}}/pulls">{{.i18n.Tr "pull_requests"}}</a>
							{{else}}
							<a class="item{{if .PageIsHome}} active{{end}}" href="{{AppSubUrl}}/">{{.i18n.Tr "home"}}</a>
							{{end}}

							<a class="item{{if .PageIsExplore}} active{{end}}" href="{{AppSubUrl}}/explore">{{.i18n.Tr "explore"}}</a>
							<!-- <div class="item">
								<div class="ui icon input">
									<input class="searchbox" type="text" placeholder="{{.i18n.Tr "search_project"}}">
									<i class="search icon"></i>
								</div>
							</div> -->

							{{if .IsSigned}}
							<div class="right menu">
								<div class="ui dropdown head link jump item poping up" data-content="{{.i18n.Tr "create_new"}}" data-variation="tiny inverted">
									<span class="text">
										<i class="octicon octicon-plus"></i>
										<i class="octicon octicon-triangle-down"></i>
									</span>
									<div class="menu">
										<a class="item" href="{{AppSubUrl}}/repo/create">
											<i class="icon octicon octicon-repo-create"></i> {{.i18n.Tr "new_repo"}}
										</a>
										<a class="item" href="{{AppSubUrl}}/repo/migrate">
											<i class="icon octicon octicon-repo-clone"></i> {{.i18n.Tr "new_migrate"}}
										</a>
										<a class="item" href="{{AppSubUrl}}/org/create">
											<i class="icon octicon octicon-organization"></i> {{.i18n.Tr "new_org"}}
										</a>
									</div><!-- end content create new menu -->
								</div><!-- end dropdown menu create new -->

								<div class="ui dropdown head link jump item poping up" tabindex="-1" data-content="{{.i18n.Tr "user_profile_and_more"}}" data-variation="tiny inverted">
									<span class="text avatar">
										<img class="ui small rounded image" src="{{.SignedUser.AvatarLink}}">
										<i class="octicon octicon-triangle-down" tabindex="-1"></i>
									</span>
									<div class="menu" tabindex="-1">
										<div class="ui header">
										{{.i18n.Tr "signed_in_as"}} <strong>{{.SignedUser.Name}}</strong>
										</div>

										<div class="divider"></div>
										<a class="item" href="{{AppSubUrl}}/{{.SignedUser.Name}}">
											<i class="icon octicon octicon-person"></i>
											{{.i18n.Tr "your_profile"}}<!-- Your profile -->
										</a>
										<a class="{{if .PageIsUserSettings}}active{{end}} item" href="{{AppSubUrl}}/user/settings">
											<i class="icon octicon octicon-settings"></i>
											{{.i18n.Tr "your_settings"}}<!-- Your settings -->
										</a>
										<a class="item" target="_blank" href="http://gogs.io/docs" rel="noreferrer">
											<i class="icon octicon octicon-question"></i>
											{{.i18n.Tr "help"}}<!-- Help -->
										</a>
										{{if .IsAdmin}}
										<div class="divider"></div>

										<a class="{{if .PageIsAdmin}}active{{end}} item" href="{{AppSubUrl}}/admin">
											<i class="icon settings"></i>
											{{.i18n.Tr "admin_panel"}}<!-- Admin Panel -->
										</a>
										{{end}}

										<div class="divider"></div>
										<a class="item" href="{{AppSubUrl}}/user/logout">
											<i class="icon octicon octicon-sign-out"></i>
											{{.i18n.Tr "sign_out"}}<!-- Sign Out -->
										</a>
									</div><!-- end content avatar menu -->
								</div><!-- end dropdown avatar menu -->
							</div><!-- end signed user right menu -->

							{{else}}

							<a class="item" target="_blank" href="http://gogs.io/docs" rel="noreferrer">{{.i18n.Tr "help"}}</a>
							<div class="right menu">
								{{if .ShowRegistrationButton}}
								<a class="item{{if .PageIsSignUp}} active{{end}}" href="{{AppSubUrl}}/user/sign_up">
									<i class="icon octicon octicon-person-add"></i> {{.i18n.Tr "register"}}
								</a>
								{{end}}
								<a class="item{{if .PageIsSignIn}} active{{end}}" href="{{AppSubUrl}}/user/login">
									<i class="icon octicon octicon-sign-in"></i> {{.i18n.Tr "sign_in"}}
								</a>
							</div><!-- end anonymous right menu -->

							{{end}}
						</div><!-- end top menu -->
					</div><!-- end column -->
				</div><!-- end grid -->
			</div><!-- end container -->
		</div><!-- end bar -->
		{{end}}
